{% load i18n static %}
<header class="header-global">
    <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom">
        <div class="container">
            <a class="navbar-brand mr-lg-5" href="{% url 'post_index' %}">
                <img src="{% static 'img/brand/news.png' %}" alt="brand">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global"
                    aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbar_global">
                <div class="navbar-collapse-header">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="{% url 'post_index' %}">
                                <img src="{% static 'img/brand/news.png' %}" alt="brand">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <button type="button" class="navbar-toggler" data-toggle="collapse"
                                    data-target="#navbar_global" aria-controls="navbar_global" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <ul class="navbar-nav align-items-lg-left ml-lg-auto">
                    <li class="nav-item">
                        <a href="{% url 'list_rooms' %}" class="nav-link" role="button">
                            <span class="nav-link-inner--text">{% trans "Chat Rooms" %}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'profiles' %}" class="nav-link" role="button">
                            <span class="nav-link-inner--text">{% trans "Peoples" %}</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link" data-toggle="dropdown" role="button">
                            <span class="nav-link-inner--text">{{ user.get_full_name|default:'Anonymous user' }}</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="{% url 'profile' username=user.username %}" class="dropdown-item">
                                <i class="ni ni-circle-08 text-info"></i>
                                {% trans "Profile" %}
                            </a>
                            <a href="{% url 'edit_profile' %}" class="dropdown-item">
                                <i class="ni ni-settings-gear-65 text-pink"></i>
                                {% trans "Setting" %}
                            </a>
                            <a href="{% url 'logout' %}" class="dropdown-item">
                                <i class="ni ni-lock-circle-open text-danger"></i>
                                {% trans "Logout" %}
                            </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>