{% extends "authentication/base.html" %}
{% load i18n form_renderer %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="center-row mt--300">
    <div class="col-lg-6">
        {% form_error form %}

        <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white">
                {% trans 'Change password' %}
            </div>
            <div class="card-body px-lg-5 py-lg-4">

                {% if validlink %}

                <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

                {% form_start 'password_reset' %}

                {% form_field_without_label form.new_password1 'ni ni-email-83' %}

                {% form_field_without_label form.new_password2 'ni ni-email-83' %}

                {% form_button 'Change my password' 'btn btn-block btn-primary my-4' %}

                {% form_end %}

                {% else %}

                <p>{% trans "The password reset link was invalid, possibly because it has already been used. Please
                    request
                    a new password reset." %}</p>

                {% endif %}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <a href="{% url 'logout' %}" class="text-light">
                    <small>{% trans 'Log out' %}</small>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}